{% extends "base.html" %}
{% block content %}
<h1>{{ 'Editar' if project else 'Novo' }} projeto</h1>
<form method="post" novalidate class="form-grid">
    {{ form.hidden_tag() }}
    <label>{{ form.name.label }} {{ form.name(size=40) }} {{ form.name.errors[0] if form.name.errors }}</label>
    <label>{{ form.antenna_id.label }} {{ form.antenna_id() }} {{ form.antenna_id.errors[0] if form.antenna_id.errors }}</label>
    <label>{{ form.frequency_mhz.label }} {{ form.frequency_mhz(step='0.1') }} {{ form.frequency_mhz.errors[0] if form.frequency_mhz.errors }}</label>
    <label>{{ form.tx_power_w.label }} {{ form.tx_power_w(step='0.1') }} {{ form.tx_power_w.errors[0] if form.tx_power_w.errors }}</label>
    <label>{{ form.tower_height_m.label }} {{ form.tower_height_m(step='0.1') }}</label>
    <label>{{ form.cable_type.label }} {{ form.cable_type(size=20) }}</label>
    <label>{{ form.cable_length_m.label }} {{ form.cable_length_m(step='0.1') }}</label>
    <label>{{ form.splitter_loss_db.label }} {{ form.splitter_loss_db(step='0.1') }}</label>
    <label>{{ form.connector_loss_db.label }} {{ form.connector_loss_db(step='0.1') }}</label>
    <label>{{ form.vswr_target.label }} {{ form.vswr_target(step='0.1') }}</label>
    <fieldset>
        <legend>Composição vertical</legend>
        <label>{{ form.v_count.label }} {{ form.v_count() }}</label>
        <label>{{ form.v_spacing_m.label }} {{ form.v_spacing_m(step='0.01') }}</label>
        <label>{{ form.v_beta_deg.label }} {{ form.v_beta_deg(step='0.1') }}</label>
        <label>{{ form.v_level_amp.label }} {{ form.v_level_amp(step='0.1') }}</label>
        <label>{{ form.v_norm_mode.label }} {{ form.v_norm_mode() }}</label>
    </fieldset>
    <fieldset>
        <legend>Composição horizontal</legend>
        <label>{{ form.h_count.label }} {{ form.h_count() }}</label>
        <label>{{ form.h_spacing_m.label }} {{ form.h_spacing_m(step='0.01') }}</label>
        <label>{{ form.h_beta_deg.label }} {{ form.h_beta_deg(step='0.1') }}</label>
        <label>{{ form.h_step_deg.label }} {{ form.h_step_deg(step='0.1') }}</label>
        <label>{{ form.h_level_amp.label }} {{ form.h_level_amp(step='0.1') }}</label>
        <label>{{ form.h_norm_mode.label }} {{ form.h_norm_mode() }}</label>
    </fieldset>
    <label>{{ form.notes.label }} {{ form.notes(rows=3, cols=40) }}</label>
    {{ form.submit(class_='btn-primary') }}
</form>
{% endblock %}
